<div class="container body-content" xmlns="http://www.w3.org/1999/html">
    <div class="well">

            <div class="col-xs-12" align="center" >
            <img src="/images/UserPics/userAvatar.png" id="profile-picture"><br>
            <button type="button" name="btnUploadPic">Change picture</button>
            </div>

            <div class="col-xs-12 " align="center" style="border-radius: 17px; border-color: #1a242f; border: solid; padding: 12px; margin:15px;">
                <label class="col-sm-4 control-label" for="imageInput">Upload picture:</label>
                <div class="col-xs-6" style="background-color: #e7e7e7; padding: 7px;">
                <input type="file" hidden="hidden" id="imageInput" name="pictureUploader">
                </div>
            </div>


        <div>
            <p>UserName:<br>
                Highscores:</p>
        </div>
    </div>
</div>